<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>관리자 - 건의 게시판</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A100%2C300%2C400%2C700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A100%2C300%2C400%2C500%2C700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500" />
  <link rel="stylesheet" href="/styles/conqboard.css" />
</head>

<body>
  <div class="connboard-YSc">

    <!-- header 반복 -->
    <%- include('includes/conheader') %>
    <!-- header 반복 -->


      <div class="div-fjW">
        <div class="div-oqi">
          <div class="div-LKr">건의 게시판</div>
          <div class="table-ajz">
            <div class="tr-uGU">
              <div class="th-3da">글번호</div>
              <div class="th-YKS">제목</div>
              <div class="th-3X6">작성자</div>
              <div class="th-9a8">등록일</div>
            </div>
            <div class="tbodylistarea-39i">

              <!-- 테이블 row 시작 -->
              <% let index = qboard.length+1;%>
              <% for(const board of qboard) {%>
              <% index -= 1%>
              <div class="tr-oiY">
                <div class="td-AJC"><%=index%></div>
                <div class="td-F4k">
                  <form action="/con_q_read/<%=board[0]%>" method="get">
                  <button class="p-ABi" style="cursor: pointer;">
                    <%=board[1]%>
                  </button>
                  </form>
                </div>
                <div class="td-ecg"><%=board[4]%></div>
                <div class="td-4wJ">
                <% 
                  board[3] = String(board[3]);
                  board[3] = board[3].substr(3, 21);
                %>
                  <div class="span-qBN"><%=board[3]%></div>
                </div>
              </div>
              <%}%>
              <!-- 테이블 row 끝 -->
            </div>
          </div>
          <div class="auto-group-7zqv-Acx">
            <div class="div-byA">
              <div class="auto-group-s7qk-Y7i">
                <div class="numbtn">
                  <a href="#" class="bt first">
                    <<</a>
                      <a href="#" class="bt prev">
                        <</a>
                          <a href="#" class="num on">1</a>
                          <a href="#" class="num">2</a>
                          <a href="#" class="num">3</a>
                          <a href="#" class="num">4</a>
                          <a href="#" class="num">5</a>
                          <a href="#" class="bt next">></a>
                          <a href="#" class="bt last">>></a>
                </div>
              </div>
              <div class="auto-group-vrgl-6S4">
                <div class="selectstype-qPe">
                  <div class="div-m2Q">
                    <select style="font-size: 18px;">
                      <option class="slt" name="title">제목</option>
                      <option class="slt" name="writer">글쓴이</option>
                    </select>
                  </div>
                  <div class="selectstype-qPe-bg">
                  </div>
                </div>
                <input type="text" class="divplaceholder-u28">
                <div class="button-Aik"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer 반복 -->
        <%- include('includes/confooter') %>
        <!-- footer 반복 -->

      </div>
  </div>
</body>